
<header>
<!----
  <div class="container-flex  border-bottom border-3 bg-dark pt-5 pb-5">
    <div class="row">

        <div class="col-lg-6 pt-3 pb-5">              
            <img class="rounded-circle rounded mx-auto d-block" width="250" height="250" src="/assets/images/fotodeperfil.jpg" >
          <h2 id="minombre" class="mx-auto text-primary text-center"></h2>
          <p class="mx-auto text-center fw-bold text-light"></p>
        </div>

        <div class="col-lg-4 pt-5">
            <div class="text-center">
              <h1 class="text-light pt-4" >Hola, soy Alexander</h1>
              <h4>  <span class=" align-middle text-light ">Y soy <span class="text-primary border-bottom border-primary">Web Full Stack Junior</span></span></h4>
              </div>
           
        </div>
        
      </div>
    </div>
    ----->
    <section class="home py-4" id="Inicio">
      <div class="container-lg">
        <div class="row bg-dark min-vh-100 align-items-center align-content-center">
          <div class="col-md-6  mt-5 mt-md-0">
            <div class="home-img text-center">
              <img class="rounded-circle mw-100" src="/assets/images/fotodeperfil.jpg" alt="Foto de Perfil" width="300">
            </div>
          </div>
          <div class="col-md-6 order-md-first mt-5 mt-md-0">
            <div class="home-text">
              <p class="text-light mb-0 ">Hola, soy</p>
              <h2 class="text-light">Alexander Pera</h2>
              <h1 class="text-primary border-bottom text-bold border-primary">Web designer</h1>
              <p class="text-light text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi in deserunt officiis nam similique rem commodi recusandae molestiae? Excepturi quis amet obcaecati quas consequuntur aut earum qui molestiae, iste provident.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
                
</header>