<section class="estudios py-5" id="estudios">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="mb-3 text-light">Estudios realizados</h2>
                </div>
            </div>
        </div>


        <div class="row align-content-center align-middle">
          <div class="card border-primary mb-3 bg-dark mx-auto" style="max-width: 18rem;">
            <div class="card-header border-primary text-light">Estudios Secundarios</div>
            <div class="card-body text-light mt-2 mb-4">
              <h5 class="card-title">Técnico Electromecanico</h5>
              <p class="card-text">En la escuela técnica "Bernardino Rivadavia".</p>
            </div>
          </div>
          <div class="card border-primary mb-3 bg-dark mx-auto" style="max-width: 18rem;">
            <div class="card-header border-primary text-light">Universidad</div>
            <div class="card-body text-light mt-2 mb-4">
              <h5 class="card-title">Lic. en Sistemas</h5>
              <p class="card-text">En la Universidad Nacional del Nordeste (UNNE).</p>
            </div>
          </div>
          <div class="card border-primary mb-3 bg-dark mx-auto" style="max-width: 18rem;">
            <div class="card-header border-primary text-light">Terciarios</div>
            <div class="card-body text-light mt-2 mb-4">
              <h5 class="card-title">Desarrollador Web Full Stack</h5>
              <p class="card-text"> Ademas de  mas cursos en linea.</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center border-top border-primary">
          <div class="col-lg-8">
              <div class="section-title text-center">
                  <h2 class="mb-3 text-light">Cursos</h2>
              </div>
          </div>
      </div>

      <div class="row align-content-center align-middle">
        <div class="card border-primary mb-3 bg-dark mx-auto" style="max-width: 18rem;">
          <div class="card-header border-primary text-light">Estudios Secundarios</div>
          <div class="card-body text-light mt-2 mb-4">
            <h5 class="card-title">Técnico Electromecanico</h5>
            <p class="card-text">En la escuela técnica "Bernardino Rivadavia".</p>
          </div>
        </div>
        <div class="card border-primary mb-3 bg-dark mx-auto" style="max-width: 18rem;">
          <div class="card-header border-primary text-light">Universidad</div>
          <div class="card-body text-light mt-2 mb-4">
            <h5 class="card-title">Lic. en Sistemas</h5>
            <p class="card-text">En la Universidad Nacional del Nordeste (UNNE).</p>
          </div>
        </div>
        <div class="card border-primary mb-3 bg-dark mx-auto" style="max-width: 18rem;">
          <div class="card-header border-primary text-light">Terciarios</div>
          <div class="card-body text-light mt-2 mb-4">
            <h5 class="card-title">Desarrollador Web Full Stack</h5>
            <p class="card-text"> Ademas de  mas cursos en linea.</p>
          </div>
        </div>
      </div>



    </div>
</section>